# Project
COMPOSE_PROJECT_NAME=rastro

# PostgreSQL
POSTGRES_DB=animal_reports
POSTGRES_USER=animal_user
POSTGRES_PASSWORD=replace_with_your_secure_password
POSTGRES_PORT=5432

# Adminer
ADMINER_PORT=8080
